

 
 <div class="pusher">

<div id ="showinstructor">
<% @cohorts.each do |coho| %>

    <h1> <%= coho.name %></h1>
    <h4><%= link_to 'Show', coho %></h4>
        <h4><%= link_to 'Edit', edit_cohort_path(coho) %></h4>
    <%end%>

   
</div>
 </div>