<div id="main" class="ui vertical inverted left visible sidebar menu" style= "background-image: linear-gradient(to left top, #7b8ba1, #657791, #4f6482, #395172, #233f63);">
   <a href="/"> <h1 id="logo">Admin</h1></a>
   
  
   <a class="item" href="/muffins" style= "margin-top:100px;" id="first">
    <%= @admin[0].name %>
   </a>
   <a class="item" href="/cookies">
     <%= @admin[0].last_name %>
   </a>
  
 </div>
 
 <div class="pusher">
   <!-- Site content !-->
   
   </div>
   