<div id="main" class="ui vertical inverted left visible sidebar menu" style= "background-image: linear-gradient(to left top, #7b8ba1, #657791, #4f6482, #395172, #233f63);">
   
    <img id="adminimg"src="http://ubiatarplay.io/wp-content/uploads/2018/03/04_avatar_neutral.png">
    <a href="/"> <h1 id="logo">Admin <%= @admin[0].name %></h1></a>
  
   <a class="item" href="/admins">
     Dashboard <i class="home icon"></i>
   </a>
   <a class="item" href="/instructors">
     Instructors <i class="user md icon"></i>
   </a>
   <a class="item" href="/students">
     Students <i class="users icon"></i>
   </a>
  
 </div>
 
 <div class="pusher">
   <!-- Site content !-->
   
   </div>
   