<div id="main" class="ui vertical inverted left visible sidebar menu" style= "background-image: linear-gradient(to left top, #7b8ba1, #657791, #4f6482, #395172, #233f63);">
   <a href="/"> <h1 id="logo">Instructor</h1></a>
   
  
   <a class="item" href="/muffins" style= "margin-top:100px;" id="first">
    name 
   </a>
   <a class="item" href="/cookies">
     last_name 
   </a>
  
 </div>

 <h3>New Instructor</h3>
 <%= render 'form' %>
 
   </div>

   </div>

