<div id="main" class="ui vertical inverted left visible sidebar menu" style= "background-image: linear-gradient(to left top, #7b8ba1, #657791, #4f6482, #395172, #233f63);">
   <a href="/"> <h1 id="logo">Cohorts</h1></a>
   
  
   <a class="item" href="/cohorts/new" style= "margin-top:100px;" id="first">
   Add 
  </a>

<h3>Edit Course: <%= @courses.name %> </h3>

<%= render 'form' %>
