<div id="main" class="ui vertical inverted left visible sidebar menu" style= "background-image: linear-gradient(to left top, #7b8ba1, #657791, #4f6482, #395172, #233f63);">
   <a href="/"> <h1 id="logo">Courses</h1></a>
   
  
   <a class="item" href="/instructor/new" style= "margin-top:100px;" id="first">
   Add 
   </a>
   <a class="item" href="/instructor/:id/edit">
     Edits
   </a>
  
 </div>


 
 <div class="pusher">

<div id ="showinstructor">
<% @courses.each do |cours| %>

    <h1> <%= cours.name %></h1>
    <h4><%= link_to 'Show', cours %></h4>
        <h4><%= link_to 'Edit', edit_course_path(cours) %></h4>
    <%end%>

   
</div>
 </div>