/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
     width: 90%;
     margin: 10px auto;
 }
 .ui.top.fixed.menu {
     display: flex;
     justify-content: flex-end;
     height: 40px;
 }
 div .ui.compact.menu{
     height: 40px;
     /* margin-top: 20px; */
 }
 #home{
     margin-top: 30px;
     margin-right: 10px;
 }
 #about{
    margin-top: 30px;
    margin-right: 10px;
 }

 div .ui.form{
     width: 200px;
    margin-top: 200px;
    margin-right: 100px;
    
 }
 .ui.form .field, .ui.form .fields .field{
     width: 200px;
 }

 #login {
    margin-top: 200px;
    margin-left: 800px;
    background-image: linear-gradient(to left top, #7b8ba1, #657791, #4f6482, #395172, #233f63);
    width: 300px;
    height: auto;
    border-radius: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
 }

 #update{
     display: flex;
     align-items: center;
 }

 .ui.bottom.visible.sidebar, .ui.left.visible.sidebar, .ui.right.visible.sidebar, .ui.top.visible.sidebar{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.ui.sidebar.menu .item{
    width: 200px;
    font-size: 20px;
}

#article{
    margin-left: 600px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.articleimg{
    margin: 20px;
    
}

.author{
    margin-left: 550px;
    
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid grey;
    padding: 10px;
    width: 750px;
}

#newwlc{
    margin-top: 100px;
    margin-left: 550px;
    color: grey;
    font-size: 40px;
    border-bottom: 2px solid grey;
}

.signout{
    font-size:20px;
    padding-right: 10px;
    /* padding: 20px; */
}
#logo{
    margin-right: 1200px;
}

#minion{
    display: fixed;
    margin-right: 900px;
    margin-top: 200px;
}

#addnew{
    margin-left: 10px;
}
#adminimg{
    height: 400px;
}
#mainlogo{
    margin-top: 20px;
    color: yellow;
}

.btn{
    display: flex;
}

p.notice{
    z-index: 2;
    margin-top: 40px !important;
    margin-left: 1200px;
}

@media (min-width: 768px) {
  #login{
      margin: 50px auto;

  }
  #minion{
      display: none;
  }
  .ui.top.fixed.menu{
      display: flex;
      align-items: center;
  }
}