// Place all the styles related to the cohort controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_cohort.new_cohort{
    margin-top: 100px;
    margin-left: 600px;
}
form.edit_cohort{
    margin-top: 100px;
    margin-left: 600px;
}

.formtitle{
    margin-top: 100px;
    margin-left: 400px;
}
div.notice{
    background-color: blue;
}