// Place all the styles related to the instructor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#newinstructor{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 600px;

}

#showinstructor{
    margin-top: 200px;
    margin-left: 500px;
}

form#new_instructor.new_instructor{
    margin-top: 100px;
    margin-left: 600px;
}

form.edit_instructor{
    margin-top: 100px;
    margin-left: 600px;
}